[flake8]
extend-ignore = E203
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist
<<<<<<<<< Temporary merge branch 1
max-complexity = 10
=========
max-complexity = 30
>>>>>>>>> Temporary merge branch 2
